@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

.edu h2, .skill h2, .work h2, .pro h2 {
  margin-top: 15px;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.edu h2 span, .skill h2 span, .work h2 span, .pro h2 span {
  margin-left: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #182f5f;
}

.edu ul, .skill ul, .work .work_ul {
  margin-top: 20px;
  margin-left: 30px;
}

.edu ul .edu-item:before, .skill ul li:before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #182f5f;
  border-radius: 50%;
  margin-right: 10px;
}

.edu, .skill, .work, .pro {
  margin-top: 55px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
}

header {
  margin: 0 auto;
  background: #182f5f;
}

.header__wrap {
  width: 50%;
  margin: 0 auto;
  font-family: "Noto Sans TC", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px 0px;
}

.header__wrap .myimg {
  margin: 50px 30px 0px 0px;
}

.header__wrap .myauto {
  color: #f4f4f4;
  margin: 20px 0px 0px 20px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  line-height: 20px;
}

.header__wrap .myauto ul li {
  line-height: 1.8rem;
}

.header__wrap .myauto h1 {
  margin-bottom: 10px;
  font-size: 36px;
}

.header__wrap .myauto h1 span {
  margin-left: 10px;
  font-size: 15px;
}

.header__wrap .myauto h2 {
  margin: 5px 0px 5px 0px;
  font-weight: bold;
}

@media (max-width: 428px) {
  .header__wrap {
    width: 80%;
  }
  .myimg {
    margin: 0px !important;
  }
  .myimg img {
    margin: 0px 0px 0px 30px;
  }
  .myauto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .myauto ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mytxt {
    width: 82%;
    text-align: center;
  }
}

main {
  margin: 0 auto;
  max-width: 60%;
}

@media (max-width: 428px) {
  main {
    max-width: 90%;
  }
}

.edu ul .edu-item {
  list-style: none;
  line-height: 40px;
  position: relative;
}

.edu ul .edu-item:before {
  position: relative;
}

.edu ul .timeline:after {
  content: "";
  position: absolute;
  border-left: 1px solid #182f5f;
  z-index: -1;
  width: 100px;
  left: 3.5px;
  top: 20px;
  height: 40px;
}

@media (max-width: 428px) {
  ul {
    font-size: 0.9rem;
    margin-left: 0px !important;
  }
  ul .timeline:after {
    height: 45px !important;
  }
}

.skill ul li {
  display: inline_block;
  margin-right: 10px;
  line-height: 40px;
  font-weight: bold;
}

.skill ul li span {
  font-weight: normal;
}

.work .work_ul .title {
  display: inline_block;
  margin: 0px 10px 0px 0px;
  padding-left: 10px;
  line-height: 40px;
  z-index: 1;
  position: relative;
  color: white;
  outline: none;
  background-color: #182f5f;
}

.work .work_ul .title::after {
  content: '+';
  font-size: 1.2rem;
  float: right;
  margin-right: 20px;
}

.work .title::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fc2f70;
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

.work .title:hover {
  cursor: pointer;
}

.work .title:hover::before {
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.work p {
  padding: 30px 50px;
  margin-bottom: 20px;
  line-height: 30px;
}

@media (max-width: 428px) {
  .work_ul .title {
    font-size: 0.5rem;
  }
}

.pro .box__list {
  margin: 25px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pro .box__list .box {
  margin: 20px 10px;
  width: 250px;
  height: 340px;
  background-color: white;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: #dfe5ea 5px 10px 20px;
          box-shadow: #dfe5ea 5px 10px 20px;
}

.pro .box__list .box img {
  border: 1px black solid;
  border-radius: 8px;
}

.pro .box__list .box h1 {
  color: #182f5f;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0px;
}

.pro .box__list .box p {
  text-align: center;
  padding: 0px 30px;
}

.pro .box__list .box button {
  background-color: #182f5f;
  border: none;
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
}

.pro .box__list .box button a {
  color: #f4f4f4;
}

footer {
  background-color: #182f5f;
  color: #f4f4f4;
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
}
/*# sourceMappingURL=all.css.map */